n8n-workflows/instagram-auto-reply.json
{
  "name": "Instagram Auto-Reply - AstroMedia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "instagram-auto-reply"
    },
    {
      "parameters": {
        "jsCode": "// Parse Instagram webhook payload\nconst payload = $input.all()[0].json;\n\nreturn {\n  message_id: payload.entry[0].messaging[0].message.mid,\n  sender_id: payload.entry[0].messaging[0].sender.id,\n  message_text: payload.entry[0].messaging[0].message.text,\n  timestamp: payload.entry[0].time\n};"
      },
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "http://api:8000/api/v1/analyze/sentiment",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"text\": \"{{ $json.message_text }}\",\n  \"language\": \"auto\"\n}"
      },
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={\n  \"model\": \"anthropic/claude-3-haiku\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un assistant marketing pour un restaurant québécois. Réponds aux commentaires Instagram de façon amicale, professionnelle et en français. Garde les réponses courtes (max 100 mots).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Message client: {{ $json.message_text }}\\n\\nSentiment: {{ $('Analyze Sentiment').item.json.sentiment }}\\n\\nGénère une réponse appropriée.\"\n    }\n  ],\n  \"max_tokens\": 200,\n  \"temperature\": 0.7\n}"
      },
      "name": "Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "instagram_interactions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('Parse Webhook').item.json.message_id }}",
            "sender_id": "={{ $('Parse Webhook').item.json.sender_id }}",
            "message_text": "={{ $('Parse Webhook').item.json.message_text }}",
            "reply_text": "={{ $json.choices[0].message.content }}",
            "sentiment": "={{ $('Analyze Sentiment').item.json.sentiment }}",
            "ai_cost": "={{ $json.usage.total_tokens * 0.00001 }}",
            "timestamp": "={{ $('Parse Webhook').item.json.timestamp }}"
          }
        }
      },
      "name": "Store in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "requestMethod": "POST",
        "url": "=https://graph.instagram.com/v18.0/{{ $('Parse Webhook').item.json.message_id }}/replies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Generate Reply').item.json.choices[0].message.content }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "lead_profiles",
        "updateKey": "instagram_user_id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "instagram_user_id": "={{ $('Parse Webhook').item.json.sender_id }}",
            "last_interaction": "={{ $now.toISO() }}",
            "engagement_score": "={{ $('Store in Supabase').item.json.engagement_score + 5 }}",
            "total_interactions": "={{ $('Store in Supabase').item.json.total_interactions + 1 }}"
          }
        }
      },
      "name": "Update Lead Score",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase Account"
        }
      }
    }
  ],
  "connections": {
    "Instagram Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply": {
      "main": [
        [
          {
            "node": "Store in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Update Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "1",
      "name": "instagram"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "2",
      "name": "automation"
    }
  ],
  "meta": {
    "instanceId": "astromedia"
  }
}
